__pycache__/
.DS_Store
champase_substrates/
cristian/
wolf_made_products/
wolf_made_products_failed/
wolf_made_products_uncombined/
p_oxides/
hits_and_misses_failed/
hits_and_misses/
trash/
test_old_version/
GoodVibes/*
GoodVibes/
_GoodVibes/
_GoodVibes/*
./_GoodVibes/
./_GoodVibes/
.vscode/
tests/test_files/
tests/LeSueur_GP/
get_properties copy_dominik.ipynb



prompt.docx
results/*.xlsx
results/*.csv
sdi_test_discrepancies/
tmp.py
prelim_df.csv
Goodvibes_output.dat
test_new_regex.py
visualize.ipynb
tests/diff.csv
tests/test_property_extraction.py
tests/test_1/hannahs_template.ipynb
dominik/
_orca_validation/
data/orca_files/
data/pyridines/
get_properties_ORCA.ipynb
orca_energy.py
property_functions_orca.py
test_*/
test_*.ipynb
*.egg-info
build/